html {
  font-family: sans-serif;
}

div {
  width: 200px;
  height: 200 px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  background-color: #000080;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  

}

